@tailwind base;
@tailwind components;
@tailwind utilities;

.homeBackground {
  background: url("../public/assets/image/Home.png") no-repeat fixed;
}

.biographyBackground {
  background: url("../public/assets/image/Biography.png") no-repeat fixed;
}

.albumsBackground {
  background: url("../public/assets/image/Albums.png") no-repeat fixed;
}

.galleryBackground {
  background: url("../public/assets/image/Gallery.png") no-repeat fixed;
}

.contactBackground {
  background: url("../public/assets/image/Contact.png") no-repeat fixed;
}

.backgroundColor1 {
  background-color: #131313;
}
